
.body {

}
ul{
list-style-type:none;
margin:0;
padding:10;
overflow:hidden;
background-color:black;
}
li{
float:left;
    }
li a {
display:block;
color:white;
padding:14px 16px;
text-decoration:none;
padding-left:150
}
